<style>


.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
.topnav {
    overflow: hidden;
    background-color: green;
     margin-top: 0px; 
    text-align: right;
    padding-bottom: 20px;
    padding-right: 30px;
    position: fixed;
    margin-left: -8px; 
    margin-right: 0px; 
    width: 99%;
    padding-top: 20px;
    top: 0;

}

#table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin:30px auto;
    
}

#table td, #table th {
    border: 1px solid #ddd;
    padding: 8px;
}


#table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: skyblue;
    color: white;
}

.loginpassword {
   width: 57%;
    padding: 12px 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 20px;
   
}
.loginname {
   width: 57%;
    padding: 12px 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 20px;
    margin-bottom: 20px;
 
}
.registername {
    width: 57%;
    padding: 12px 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 20px;
    margin-bottom: 20px;
}
.registerpassword {
    width: 57%;
    padding: 12px 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 20px;
}


#viewbutton{
     background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 42px 0;
    margin-left: 8px;
    border: none;
    cursor: pointer;
    width: 21%;
    border-radius: 10px;

}
#delbutton{
    background-color: #4CAF50;
    color: black;
    padding: 5px 21px;
    margin: 33px auto;
    border: none;
    cursor: pointer;
    width: 15%;
    border-radius: 10px;
}
#editbutton{
     background-color: #4CAF50;
    color: black;
    padding: 5px 21px;
    margin: 33px 8px;
    border: none;
    cursor: pointer;
    width: 15%;
    border-radius: 10px;

}
#button {
    background-color: #4CAF50;
    color: black;
    padding: 5px 21px;
    margin:33px auto;
    border: none;
    cursor: pointer;
    width: 15%;
    border-radius: 10px;
}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
   text-align: center;
    margin: 80px auto;
    width: 50%;
    border-color: blue;
}
dl {
    display: block;
    margin-right: 100px;
    margin-bottom: 80px;
}

dd { 
    display: block;
    margin-left: 70px;
    margin-bottom: 20px;
    margin-left: 229px;
    margin-top: -15px;
}



span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}
</style>