<div class="topnav">
</div>
<div class="container">
  <h1>Edit Book</h1>
  <form ng-submit="updateUser()">

          <label><b>userId</b></label>
          <input type="number" class="registername" ng-model="user.userid" name="userid" required><br>
        
          <label><b>firstname</b></label>
          <input type="text" class="registername" ng-model="user.firstname" name="firstname" required><br>
      
          <label><b>lastname</b></label>
          <input type="text" class="registername" ng-model="user.lastname" name="lastname" required><br>
        
          <label><b>username</b></label>
          <input type="text" class="registername" ng-model="user.username" name="username" required><br>
       
        
         <label><b>password</b></label>
         <input type="password" class="registerpassword" ng-model="user.password" name="password" required><br>
      
        
          <button id="button" type="submit">Update</button>
  </form>
</div>
    