

<div class="topnav">Signed in as {{current_user}}
   <a href="#" ng-click="signout()">Logout</a>
</div><br>

<h1 style="margin-top:  50px; color: red;">USER LIST</h1>
<a href=#/create><img src="http://www.iconarchive.com/download/i12440/gakuseisean/ivista-2/Alarm-Plus.ico"style=" height: 49px;
    margin-left: 172px;
    margin-top: -65px;"></a>
   <div ng-init="view()">

<center>
  Search   :   <input type='text' ng-model='searchText' placeholder="Search " />
  <div ng-controller="testController">
  <table id="table">
 <thead>

  <tr>
    <th>S.no</th>
    <th>User_Id</th>
    <th>Username</th>
    <th>Action</th>
  </tr>

 </thead>
 <tbody>

  <tr ng-repeat = "user in user | startFrom:currentPage*pageSize | limitTo:pageSize | filter:searchText">
    <td>{{$index + 1}}</td>
    <td>{{user._id}}</td>
    <td>{{user.username }}</td>
    <td><a href="#/home/{{user._id}}">Show details</a></td>
  </tr>

 </tbody>
 </table> 
   <button
      ng-disabled="currentPage == 0"
      ng-click="currentPage=currentPage-1"
    >
      Previous
    </button>

    Page {{currentPage+1}} of {{numberOfPages()}}

    <button
       ng-disabled="currentPage >= user.length/pageSize - 1"
       ng-click="currentPage=currentPage+1"
    >
      Next
    </button>
 </center>
 </div>
