<body>
<div class="topnav">
    <a href="#/register" ng-click="signup()">SIGN UP</a>
</div><br>




  <div class="container" ng-controller="AuthController">
    <form ng-submit="login()">
        <h2 align="center">Login Form</h2>
         
    <label><b>Username</b></label>
    <input type="text" class="loginname" placeholder="Enter Username" ng-model="username" required><br>

    <label><b>Password</b></label>
    <input type="password" class="loginpassword" placeholder="Enter Password" ng-model="password" required><br>
        
    <button id="button" type="submit"  value="login">login</button>  


  
    </div>  
</form>

 
</body>