
<h2 align="center">Login Form</h2>
  <div class="container" ng-controller="AuthController">
    <form ng-submit="login()">	
    	{{message}}
    <label><b>Username</b></label>
    <input type="text" placeholder="Enter Username" ng-model="username" required><br>

    <label><b>Password</b></label>
    <input type="password" placeholder="Enter Password" ng-model="password" required><br>
        
    <button type="submit"  value="login">login</button>  
       <center><a href="#/register">SIGN UP</a></center> 

  
    </div>  
</form>

 
