<!-- <dir class="container">
<div id="customers"> -->
    <div class="topnav">
    </div>
    <div class="container">
   <table id="table">
 <thead>
 <tr>
<th>User_Id</th>
<th>Firstname</th>
<th>Lastname</th>
 <th>Username</th>
 <th>Password</th>
 <th>Action</th>

 </tr>
 </thead>
 <tbody>
 <tr>
 <td>{{user_detail._id}}</td>
 <td>{{user_detail.firstname}}</td>
 <td>{{user_detail.lastname}}</td>
 <td>{{user_detail.username }}</td>
 <td>{{user_detail.password}}</td>
 <td><a href="#/edit/{{user_detail._id}}"><img src="https://www.iconexperience.com/_img/v_collection_png/256x256/shadow/users4_edit.png"style="width:  49px;height: 42px;"></a></td>

  
 </tr>
 </tbody>
 </table> 
<!-- </div>
</dir> -->
<button id="button" type="button" ng-controller="DeleteController" ng-click="deleteUser(user_detail._id)">DELETE</button><br>

    <a href="#/home">Back to list</a>
</div>
  